.node{
    display:block;
    position:absolute;
    background-color: #4f4f4f;
    /* background-image: radial-gradient( circle at center, #4f4f4f 0, #4f4f4f00 100%); */
    border:none;
    border-radius: 50%;

    text-align: center;
    line-height:56px;
    font-weight: bold;

    color: #d9d9d9;

    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    
}

.nodeDist{
    display:block;
    position:absolute;
    background-color: transparent;
    border:none;
    border-radius:5px;

    text-align: center;
    font-size: 12px;
    font-weight: 900;

    /* padding-bottom:3%;/ */

    color: #d9d9d9;
}